body{
    background-color: rgb(13, 13, 7);
    height: 100vh;
}
.logo{
    display: block;
    margin:auto;
    width: 50px;
    height: 50px;
}
.container{
    max-width: 600px;
    background-color: rgb(229, 247, 170);
    height: 68vh;
    margin:auto;
    padding:20px;
    border:2px solid black;
    overflow-y : auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
.message{
    background-color: rgb(200, 199, 199);
    width:40%;
    margin: 7px 4px;
    padding:4px;
    border: 2px solid black;
    border-radius: 10px;
}
.left{
    float:left;
    clear:both;
}
.right{
    float:right;
    clear: both;
}

#send-container{
    display: block;
    margin:auto;
    text-align: center;
    max-width:980px;
    width:100%;  
}
#messageInp{
    background-color:none;
    width:56%;
    border:2px solid black;
    border-radius: 10px;
    height:30px;
}
.btn{
    background-color: rgb(157, 137, 137);;
    border: 3px solid rgb(2, 20, 2);
    border-radius: 10px;
    cursor: pointer;height: 30px;
    width:8%;
    height:8vh;
    font-size: large;
}
.btn:hover{
    background-color:rgb(83, 143, 104)
}